.left_circle{
    flex: 1.5;
    /* background-color: red; */
    display: flex;
    position: relative;
}
.circle1{
    position: relative;
    display: block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 70px;
    left: 30px;
    background-color: gray;
    opacity: 0.3;
}
.circle2{
    position: relative;
    display: block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    top: 260px;
    left: 13px;
    opacity: 0.3;
    background-color: gray;
}
.right_circle{
    flex: 1.5;
    /* background-color: blue; */
    display: flex;
    position: relative;
}

.circle3{
    position: relative;
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 190px;
    left: 30px;
    background-color: gray;
    opacity: 0.3;
}
.circle4{
    position: relative;
    display: block;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    top: -45px;
    left: -48px;
    background-color: gray;
    opacity: 0.3;
}

.circle6{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -230px;
    left: -210px;
    background-color: gray;
    opacity: 0.3;
}
.circle7{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -26px;
    left: -350px;
    background-color: gray;
    opacity: 0.3;
}
.circle8{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    top: -7px;
    left: -340px;
    background-color: gray;
    opacity: 0.3;
}