
.circle1{

    position: relative;
    display: block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 70px;
    left: 30px;
    background-color: rgb(252, 237, 230);
}
.circle2{

    position: relative;
    display: block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    top: 260px;
    left: 13px;
   
    background-color: rgb(252, 237, 230);
}


.circle3{

    position: relative;
    display: block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    top: 190px;
    left: 30px;
    background-color: rgb(252, 237, 230);
}
.circle4{

    position: relative;
    display: block;
    border-radius: 50%;
    height: 90px;
    width: 90px;
    top: -45px;
    left: -48px;
    background-color: rgb(252, 237, 230);
}

.circle6{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -230px;
    left: -210px;
    background-color: rgb(252, 237, 230);
}
.circle7{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    top: -26px;
    left: -350px;
    background-color: rgb(252, 237, 230);
}
.circle8{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    top: 220px;
    left: 90px;
    background-color: rgb(252, 237, 230);
}
.circle9{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: 185px;
    left: 310px;
    background-color: rgb(252, 237, 230);
}
.circle10{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    top: 205px;
    left: 315px;
    background-color: rgb(252, 237, 230);
}
.circle11{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    top: 185px;
    left: 312px;
    background-color: rgb(252, 237, 230);
}
.circle12{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    top: -220px;
    left: 190px;
    background-color: rgb(252, 237, 230);
}
.circle13{
    z-index: 5;
    position: relative;
    display: block;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    top: -225px;
    left: 120px;
    background-color: rgb(252, 237, 230);
}